@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

button:hover {
    animation: bounce 0.5s;
}

.button {
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.button:active {
    background: lightgreen;
}

.default {
    background: #02787D;
    color: aquamarine;
    outline: none;
}

.red {
    background: crimson;
}


.button:disabled {
    background: darkslategray;
    color: #02787D;
}









